@model ITTNetSoc.Models.Event
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}
@using ITTNetSoc.Models;
@{CompSocEntities db = new CompSocEntities();}
<h2>
    Event Details</h2>
<fieldset>
    <div class="display-field">
       <h3>Event Name: </h3>@Html.DisplayFor(model => model.EventName) 
    </div>
    <div class="display-field">
       <h3>Author: </h3> @Html.ActionLink(Model.Author, "Details", "UserProfile", new { id = Model.AuthorID }, null)
    </div>
    <div class="display-field">
       <h3>Event Description: </h3> @Html.DisplayFor(model => model.Body)
    </div>
    <div class="display-field">
       <h3>Date And Time: </h3 @Html.DisplayFor(model => model.date) @Html.DisplayFor(model => model.time)
    </div>
    <h3>Location: </h3>
        <img alt"Map" src="https://maps.googleapis.com/maps/api/staticmap?center=@Html.DisplayFor(model => model.mapLocation)&amp;zoom=14&amp;size=1488x1400&amp;markers=@Html.DisplayFor(model => model.mapLocation)&amp;sensor=false"
            width="100%" />
</fieldset>


<div id="CommentsSections" data-role="collapsible">
    <h4>
        User Comments</h4>
    @if (ViewBag.userComments.Equals("No Comments"))
    {

        <p>
            No Comments</p>
    }
    else
    {
        <ul data-role="listview" data-theme="c">
        @foreach (Comments comment in ViewBag.userComments)
        {
        <li style="box-shadow: 10px 10px 5px #888888">
        
        <a href="/UserProfile/Details/@comment.AuthorID">
            <img src='/PICTURES/@db.UserProfiles.Find(comment.AuthorID).Picture' width='80' height='80'/> 
            <h3 class="ui-li-heading" >@comment.title by @comment.author </h3>
            <p style="white-space:normal" >
                    @comment.body.ToString()
                    <br /><br /> <i>Posted on @comment.date @comment.time</i>
            </p>
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Delete Comment", "Delete", "Comment", new { id = comment.commentID, itemID = Model.Id, commentType = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString() }, new { data_role = "button", data_theme = "c", data_mini = "true", data_icon = "delete" })
                }
           
        </a>
       
        </li>
        }
        </ul>

    }
    @if (Membership.GetUser() != null)
    {
        <br />
        @Html.ActionLink("Add Comment", "Create", "Comment", new { itemID = Model.Id, commentType = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString() }, new { data_role = "button", data_icon = "plus",data_inline = "true" })
    }
    else
    {
        <p>
        <br />
            You Must Log In To Write Comments
        </p>
    }
</div>