@model ITTNetSoc.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Event</legend>

    <div class="display-label">EventName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventName)
    </div>

    <div class="display-label">Author</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">Body</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">time</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.time)
    </div>

    <div class="display-label">mapLocation</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mapLocation)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
