@model ITTNetSoc.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<div data-theme="b">

<h2>Register</h2>


<div data-role="fieldcontain">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new Dictionary<string, object>() { { "enctype", "multipart/form-data" }, { "data-ajax", "false" } }))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
 
        <fieldset>
            <legend>Account Information</legend>
          
           <br>

                @Html.LabelFor(m => m.Picture)
                @Html.TextBoxFor(m => m.Picture, new { type = "file", accept = "image/*" })
                @Html.ValidationMessageFor(m => m.Picture)
                
              
           <br>
                @Html.LabelFor(m => m.UserName)
            
            
                @Html.TextBoxFor(m => m.UserName, new { required = "required" })
                @Html.ValidationMessageFor(m => m.UserName)
          
            <br>
          
                @Html.LabelFor(m => m.Email)
         
                @Html.TextBoxFor(m => m.Email, new { type = "email", required = "required" })
                @Html.ValidationMessageFor(m => m.Email)
            <br>

         
                @Html.LabelFor(m => m.Password)
           
        
                @Html.PasswordFor(m => m.Password, new { type = "password", required = "required" })
                @Html.ValidationMessageFor(m => m.Password)
         <br>

           
                @Html.LabelFor(m => m.ConfirmPassword)
         
       
                @Html.PasswordFor(m => m.ConfirmPassword, new { type = "password", required = "required" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
           <br>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { required = "required" })
                @Html.ValidationMessageFor(m => m.Description)

                <br>
                @Html.LabelFor(m => m.Department)
                @Html.TextBoxFor(m => m.Department, new { required = "required" })
                @Html.ValidationMessageFor(m => m.Department)

                <br>
                @Html.LabelFor(m => m.DisplayName)
                @Html.TextBoxFor(m => m.DisplayName, new { required = "required" })
                @Html.ValidationMessageFor(m => m.DisplayName)

                <br>
                @Html.LabelFor(m => m.Year)
                @Html.TextBoxFor(m => m.Year, new { required = "required" })
                @Html.ValidationMessageFor(m => m.Year)

               

                <br>
                @Html.LabelFor(m => m.Question)
                @Html.TextBoxFor(m => m.Question, new { required = "required" })
                @Html.ValidationMessageFor(m => m.Question)

                <br>
                @Html.LabelFor(m => m.Answer)
                @Html.TextBoxFor(m => m.Answer, new { required = "required" })
                @Html.ValidationMessageFor(m => m.Answer)

          
            
        </fieldset>

                <input type="submit" value="Register" />
}
</div>
</div>

@section scripts
{
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
