@model IEnumerable<ITTNetSoc.Models.Album>
@{
    ViewBag.Title = "Index";
    //Layout = "_MainLayout.cshtml";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;
@{ITTNetSoc.Models.CompSocEntities db = new ITTNetSoc.Models.CompSocEntities();}
 
 <!-- 
<ul data-role="listview">
	<li>@Html.ActionLink("Album of stuff", "Album1", "Gallery")</li>
	<li>@Html.ActionLink("More Crap", "Album2", "Gallery")</li>
	<li>@Html.ActionLink("Even moar!", "Album3", "Gallery")</li>
</ul>

-->

    
       @* @foreach (var album in Model)
        {
            @Html.ActionLink(@album.AlbumName, "AlbumDetail", new { id = album.Id }, new { data_role = "button", data_theme = "b", data_mini = "true" , data_icon="grid"})
            
        }*@
        <ul data-role="listview" data-theme="b" data-inline="true">
        @foreach (var album in Model)
        { 
            string picSrc ;
             Random r = new Random(); 
            int count = ITTNetSoc.Controllers.GalleryController.PictureFromAlbum(album.Id).Count;
            if(count>=1)
            {
             int id =  r.Next(count-1);
             picSrc = ITTNetSoc.Controllers.GalleryController.PictureFromAlbum(album.Id)[id].Source;
            }else{
                 picSrc = "/PICTURES/Unknown.jpg";
             }
             
            <li style="box-shadow: -2px 17px 27px #888888;" data-inline="true">
            <a href='../Gallery/AlbumDetail/@album.Id' class="ui-link-inherit"> 
              <img src='@picSrc' class='ui-li-thumb' width='100' height='100'/>
              <h3 class="ui-li-heading">@album.AlbumName</h3>
              <p class="ui-li-desc">@album.Description</p>
             </a>
        </li>
    }
        </ul>
        <br />
        <br />
<div data-role="navbar">
    @Html.PagedListPager((IPagedList)ViewBag.pageOfAlbums, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.Minimal);
</div>