@model ITTNetSoc.Models.NewsItem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Delete News Item:</legend>

    <div class="display-label">Headline</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Headline)
    </div>

    <div class="display-label">Author</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">Summary</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Summary)
    </div>

    <div class="display-label">Body</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">NewsArtUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsArtUrl)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to List", "Index", "News", new { data_role = "button" })
        
    </p>
}
